@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

.hide {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.hide-container {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.show-container {
  opacity: 1;
}

.hide-about-image-containers {
  opacity: 0;
  transition: opacity 1s ease;
}

.show-about-image-containers {
  opacity: 1;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media (hover: hover) {
  .header-container:hover {
    backdrop-filter: blur(10px);
  }
}

.timeline-nav {
  position: relative;
}

.nav-item {
  position: relative;
  display: flex;
  width: 6rem;
  justify-content: flex-end;
}

.nav-link {
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  font-family: "Figtree", serif;
}

@media (hover: hover) {
  .nav-link:hover {
    cursor: pointer;
  }
}

.marker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: 10rem;
  background-color: #000;
}

.nav-item:last-child .vertical-line {
  display: none;
}

.circle-marker {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  border-radius: 100%;
}

@media (hover: hover) {
  .circle-marker:hover {
    cursor: pointer;
  }
}

.wrapper-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  min-height: 100vh;
  text-align: center;
  padding: 4rem 1.5rem;
  overflow-x: hidden;
  font-family: "Figtree", serif;
}

/*HEADING SECTION*/
.heading-container {
  max-width: 56rem;
  margin: 0 auto;
}

.introduction {
  color: #32b291;
  font-weight: 600;
  margin-bottom: 1rem;
}

.name {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #111827;
  margin-bottom: 1rem;
}

.tech-class {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #6b7280;
}

/* CONTACT SECTION */
.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
  max-width: 72rem;
}

@media (min-width: 768px) {
  .contact-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .contact-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: rgb(240, 101, 101); */
}

.icon-container {
  background-color: #32b291;
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 9999px;
}

.description-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;

  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #111827;
}

.contact-description {
  color: #6b7280;
  margin-top: 0.5rem;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.download-icon {
  height: 1rem;
  margin-right: 0.3rem;
}

.download-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-section {
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-description-container,
.image-container {
  width: 100%;
  height: 40rem;
  max-height: 40rem;
}

.image-container {
  position: relative;
  border-radius: 1rem;
  background-color: #ffffff;
}

.carousel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-radius: 1rem;

  z-index: 2;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  background-color: #f0f0f0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item.active {
  opacity: 1;
}

.hobbies-image-container {
  position: absolute;
  top: 0;
  z-index: 3;

  width: 100%;
  height: 100%;
  background-color: aquamarine;
  border-radius: 1rem;
}

img {
  aspect-ratio: auto;
  width: 100%;
}

.about-description-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.professional-identity-container,
.education-container,
.hobby-container {
  display: flex;
  flex-direction: column;
  font-family: "Figtree", serif;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.professional-identity-container {
  position: sticky;
  top: 0;
  min-height: 40rem;
  max-height: 40rem;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -2rem 2rem -5px rgba(189, 188, 188, 0.3);
  z-index: 1;
}

.education-degree {
  font-weight: 500;
}

.education-container {
  position: sticky;
  top: 0;
  min-height: 40rem;
  max-height: 40rem;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -2rem 2rem -5px rgba(189, 188, 188, 0.3);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education-summary-container {
  display: flex;
  flex-direction: column;
}

.education-title {
  margin-bottom: 0.5rem;
}

.education-school,
.education-year {
  color: #5e5e5e;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.paragraph {
  line-height: 2;
}

.hobby-container {
  position: sticky;
  top: 0;
  min-height: 40rem;
  max-height: 40rem;
  width: 100%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  box-shadow: 0 -2rem 2rem -5px rgba(189, 188, 188, 0.3);
}

.heading-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.6rem;

  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.heading-footer.hidden {
  opacity: 0;
  transform: translateY(100%);
}

.footer-content-wrapper {
  position: fixed;
  bottom: 0;
  font-size: 0.6rem;
  text-align: center;
  width: 100%;

  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.footer-content-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

h3 {
  font-size: clamp(1rem, 0.545rem + 2.273vw, 2rem);
  font-weight: 600;
}

/* UTILS */

.margin-top {
  margin-top: 1rem;
}
